<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>

    <h1><%= title %></h1>
    <p><b>Type in password<b></p><br>
     
    <p id='passFailed'></p>
    <input id='userinput' type='password'></input>
    <button onclick='checkPswd()'>Submit</button>
    <script type='text/javascript' src='/javascripts/checkPswd.js'></script>
  
  </body>
</html>
