<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    
    <h1>Welcome to <%= title %></h1>
    <h2> hello </h2>
    <p id='error'>
      <% for(var i = 0; i<error.length;i++) { %>
	      <p><font color="red"><%= error[i] %></font></p>
      <% } %>
    </p>

    <div class="login-page">
      <div class="form">
      <h2>Sign Up</h2>
      <form name='signUpForm' method='post' action='/users/signup' onsubmit='set_action(this)'>
        <input placeholder='Username' name='username' id='new_user' maxlength='20'>
        <input placeholder='Password' name='password' type='password' id='new_pass' maxlength='20'>
        <input type='submit' value='Sign Up'>
      </form>

      <h2>Login</h2>
      <form name='loginForm' action='/users/login' method='post'>
        <input placeholder='Username' id='username' name='username' maxlength='20'>
        <input placeholder='Password' type='password' name='password' id='password' maxlength='20'>
        <input type='submit' value='Login'>
      </form>
    </div>
  </div>
  </body>
</html>
