<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>

    <h1><%= title %></h1>
    <% if(username == 'admin') {%>
        <form action='/users/admin/setPass' method='get'> 
          <input type='submit' id='changepass' name='setPassScheme' value='setPassScheme'>
        </form>
    <%}%>

      <form name='logoutForm' action='/users/<%= username %>/logout' method='post'> 
       <input type='submit' id='logout' value='logout'/>
     </form>
     

  
  </body>
</html>
