a{
    text-decoration: none;
}

input[type="submit"]{
    background-color:deepskyblue;
    border:none;
    color:white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.tab {
  overflow: auto;
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.1s;
    font-size: 17px;
    border-radius: 7px;
    border: black;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: deepskyblue;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: deepskyblue;
}

input,label{
    display:block;
}

#loginBody{
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

#TopBanner{
    color:black;
    font-size: 30px;
}
#usernameLogin, #passwordLogin{
    font-size: 15px;
}

@media only screen and (min-width: 768px) {
  #Login{
      float:right;
      margin-right: 220px;
  }

  #Signup{
      float:right;
      margin-right: 180px;
  }

  #spacer {
    height: 40px;
  }
}

#Signup {
  color: black;
}

#Login input[type="text"]{
    width:170px;
}

#Signup-fields > input[type="text"]{
    width: 250px;
    height:25px;
    border-radius:6px;
    border-top-color: white;
}

#usernameBox {
    float: right;
    margin-right: 400px;
    padding: 3px;
}

#passwordBox {
    float: right;
    margin-right: 230px;
    padding: 3px;
    margin-top: -37.6px;
}

#login{
    margin-top: -57px;
    float: right;
    margin-right: 140px;
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
