<!DOCTYPE html>
<html>
<head>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> 
    <script src="http://formbuilder.online/assets/js/form-builder.min.js"></script>
    <script src="http://formbuilder.online/assets/js/form-render.min.js"></script>
    <script src="/javascripts/appointment.js"></script>

<style>
#leftForm {
	width: 35%;
	float: left;
}

#calendar {
	position: absolute;
	left: 38%;
	top: 10%;
	margin-right: 10px;
}

#companyForm {
	height: 50px;
	padding: 10px;
}

#submit-action {
position: relative;
top: 65%;
left: 30%;
}


#apptInfo {
    margin: 5px;
    padding: 10px;
}

#apptInfo ul {
    list-style-type: none;
    margin: 30px;
    height: 50px;
    padding: 0;
    border-bottom: 2px solid black;
}

#apptInfo ul li {
    float: left;
    margin: 2px;
}

#apptInfo ul li button {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    background-color: blue;
    height: 25px;
    width: 100px;
    text-align: center;
border-radius: 3px;
    padding: 5px;
    margin: 5px;
    border: none;
}

#overlay {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}


#form {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 30px;
    border: 1px solid #888;
    overflow: scroll;
    width: 50%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#resAppt {
    position: relative;
    left: 48%;
    bottom: 20%;
}

.header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

</style>
</head>
<body>

	<!-- div that contains the selected businesses form -->
        <div id='overlay'>
	    <div id='form'>
	        <div class="header">
    		    <span class="close">&times;</span>
    		   <h2></h2>
                </div>
		<div class='body'>
	            <form id='busForm' method='post' action='appointment'></form>
		</div>
	        <input type='submit' id='resAppt' value='Reserve'>
	    </div>
	</div>        

	<!-- select company to make an appointment with -->
	<label for='availBusinesses'>Select a Business</label>
        <select id='availBusinesses' name='business'>
            {{#each companies}}
                <option value='{{this}}'>{{this}}</option>
	    {{/each}}
	</select>
	
	<input type='text' placeholder='Preferred date' name='preferedDate' id='preferedDate' readOnly>
	<div id='preferedDate' style='display:none'></div><br>
	<input type='submit' value='Submit' onclick='getAppts()'>
	
	<!-- divs that is populated with available appts -->
	<div id='apptInfo'><p id='business' hidden></p></div>
	
	<script type='text/javascript'>
	    $( "#preferedDate" ).datepicker({maxDate: '+2m'});
	</script>

</body>
</html>


