<section class="content-header">
    <h1>Business Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>



<section class="content">
    <link rel='stylesheet' href='../../plugins/fullcalendar/lib/fullcalendar.min.css' />
    <script src='../../plugins/fullcalendar/lib/moment.min.js'></script>
    <script src='../../plugins/fullcalendar/lib/fullcalendar.min.js'></script>

    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <div class="pull-left" style = "width: 50%; margin: 0 auto;"></div>
    <div>
      <td><input type="button" value="Schedule New Appointment"></td>
    </div>
    <div id='events' hidden> {{events}} </div> 
    <h3>Today's Appointments</h3>
    <div id='calendar'></div>

</section>


<script type="text/javascript">
    $(document).ready(function() {
        // Parsed events to JSON
        var events = eval("(" + document.getElementById('events').innerHTML + ")");
        var parsed_events = [];
        for(var i = 0; i < events.length; i++) {
            var json = JSON.stringify(events[i])
            parsed_events.push(JSON.parse(json));
        }
        // Initalize Calendar
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#calendar').fullCalendar({
            default: true,
            header: {
                left: 'today prev, next',
                center: '',
                right: 'month, agendaWeek, agendaDay'
            },
            events: parsed_events,
            eventColor: '#FF4500'
        });
    });
</script>
