<section class="content-header">
    <h1>Dr. Pepper's Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <div class="pull-left" style = "width: 50%; margin: 0 auto;"></div>
    <div>
      <td><input type="button" value="Schedule New Appointment"></td>
    </div>
    <h3>Today's Appointments</h3>
</section>

<section class="content">
    <link rel='stylesheet' href='/plugins/fullcalendar/fullcalendar.min.css' />
    <script src='/plugins/fullcalendar/lib/jquery.min.js'></script>
    <script src='/plugins/fullcalendar/lib/moment.min.js'></script>
    <script src='/plugins/fullcalendar/fullcalendar.js'></script>
</section>

<div id='calendar'></div>

<script type="text/javascript">
    $(document).ready(function() {

        // Initalize Calendar
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            default: true,
            events: [
                {
                    title: 'SexyGeo Meeting #1',
                    start: new Date(y, m, 1, 9, 00),
                    end: new Date(y, m, 1, 10, 00),
                    allDay: false
                },
                {
                    title: 'Meeting #1',
                    start: new Date(y, m, 2, 16, 00),
                    allDay: false
                },
                {
                    title: 'Meeting #3',
                    start: new Date(y, m, 4, 16, 00),
                    allDay: false
                },
                {
                    title: 'SexyGeo Meeting',
                    start: new Date(y, m, 10, 18, 00),
                    allDay: false
                },
                {
                    title: 'SexyGeo Meeting - 2',
                    start: new Date(y, m, 8, 14, 00),
                    allDay: false
                },{
                    title: 'SexyGeo Meeting - 3',
                    start: new Date(y, m, 6, 15, 00),
                    allDay: false
                }
            ],
            eventColor: '#378006'
        });
    });
</script>

