<section class="content-header">
    <h1>Dr. Pepper's Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    <link rel='stylesheet' href='/plugins/fullCalendar/fullcalendar.min.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src='/plugins/fullCalendar/moment.min.js'></script>
    <script src='/plugins/fullCalendar/fullcalendar.min.js'></script>`
</section>

<section class="content">
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <div class="pull-left" style = "width: 50%; margin: 0 auto;">
    </div>
    <div>
    <td><input type="button" value="Schedule New Appointment"></td>
    </div>
    <h3>Today's Appointments</h3>
    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    float: left;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#calendar {
  margin-left:165px;
  margin-top: -15px;
  width:300px;
}
.selected {
  background: #f0951d;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}
#yo{
  margin-top:20px;
}


</style>

<div id='calendar'></div>


<div>
    <table>
  <tr>
    <td>9:00 AM</td>
    <td>Bob Myers</td>
    <td><input type="button" value="Check In"></td>
    <td><input type="button" value="Cancel Appointment"></td>
  </tr>
  <tr>
  	<td>9:30 AM</td>
    <td>Eric Rogers</td>
    <td><input type="button" value="Check In"></td>
    <td><input type="button" value="Cancel Appointment"></td>
  </tr>
  <tr>
  	<td>10:00 AM</td>
    <td>Tom Turner</td>
    <td><input type="button" value="Check In"></td>
    <td><input type="button" value="Cancel Appointment"></td>
  </tr>
  <tr>
  	<td>11:00 AM</td>
    <td>Freddie Erickson</td>
    <td><input type="button" value="Check In"></td>
    <td><input type="button" value="Cancel Appointment"></td>
  </tr>
  <tr>
  	<td>11:30 AM</td>
    <td>Thomas Powell</td>
    <td><input type="button" value="Check In"></td>
    <td><input type="button" value="Cancel Appointment"></td>
  </tr>
  <tr>
  	<td>1:00 PM</td>
    <td>Peter Pickles</td>
    <td><input type="button" value="Check In"></td>
    <td><input type="button" value="Cancel Appointment"></td>
  </tr>
</table>

<div id="yo">
<h2 style="text-align:center;position: relative;margin-top:20px;bottom: 40px;""><button>«</button> May 2017 <button>»</button></h1>
<div>
<table id="calendar">
  <tr>
    <th>S</th>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>Th</th>
    <th>F</th>
    <th>S</th>
  </tr>
  <tr>
    <td></td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
  <tr>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
    <td>13</td>
  </tr>
  <tr>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
    <td>20</td>
  </tr>
  <tr>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>27</td>
  </tr>
  <tr>
    <td>28</td>
    <td>29</td>
    <td class="selected">30</td>
    <td>31</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
</section>


<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    defaultView: 'timelineMonth',
        weekends: false
    });

});
</script>

