<!DOCTYPE html>
<section class="content-header">
    <h1>Form Editor </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
    {{#if empty}}
	<p align='center' id='error'><font size='4pt' color='red'>Customized form must have at least one
	field.</font></p>
    {{/if}}
</section>

<section class="content">


    <form action='forms' method='post' id='formGenerator'>
    	<input type='hidden' name='formData' id='formData'>
    </form>

    <input type='submit' value='Save Form' id='save-action' form='formGenerator'>
    <button type='button' id='clear-action'>Clear Fields</button>
    
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//formbuilder.online/assets/js/form-builder.min.js"></script>
    
    <script type='text/javascript'>
	jQuery(function($) {
	  // remove the clear,{},and save buttons provided by formBuilder
	  var options = { showActionButtons: false };
    	  
	  // if form changed and has content, then submit
	  var formbuilder = $(document.getElementById('formGenerator')).formBuilder(options);
	  document.getElementById('save-action').addEventListener('click', function() { 
	     document.getElementById('formData').value = formbuilder.actions.getData('json');
	  });
	  // if clear button is clicked, clear fields
	  document.getElementById('clear-action').onclick = function() {
	     formbuilder.actions.clearFields();
	  };
	});
    </script>

</section>
