<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <!-- Google Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <!-- Local BootStrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!--Local Unviersal Stylesheet-->
        <link rel='stylesheet' href='/stylesheets/landingStyle.css'/>
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!--Icon -->
        <link rel="shortcut icon" href="/images/sgh.png" type="image/x-icon">
        <link rel="icon" href="/images/sgh.png" type="image/x-icon">

        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!-- Web call to Bootstrap-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <!--Analytics-->
        <script src='/javascripts/analytics.js'></script>

    </head>
    <body id="top-page">
        <!--Navigation bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
           <div class = "container-fluid">
               <div class = "navbar-header">

                   <button type = "button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                       <!--"Screen Readers Only" sr-only-->
                       <span class = "sr-only">Toggle Navigation</span>
                       <span class = "icon-bar"></span>
                       <span class = "icon-bar"></span>
                       <span class = "icon-bar"></span>
                   </button>
                   <!--No Implementation of navbar-brand & page-scroll-->
                   <a class = "navbar-brand page-scroll" href="#top-page" style="color:#071C33 !important">SAM</a>
               </div>
               <!-- No Implementation of page-scroll-->
               <div class = "collapse navbar-collapse" id="navbar-collapse-1">
                   <ul class="nav navbar-nav navbar-right navbar-landing-padding">
                       <li>
                           <a class="page-scroll" href="#overview" style="color:#071C33 !important">Overview</a>
                       </li>

                       <li>
                           <a class="page-scroll" href="#services" style="color:#071C33 !important">Services</a>
                       </li>

                        <li>
                           <a class="page-scroll" href="#integration" style="color:#071C33 !important">Integration</a>
                       </li>

                       <li>
                           <a class="page-scroll" href="#pricing" style="color:#071C33 !important">Pricing</a>
                       </li>

                       <li>
                           <!--<button type = "button" class = "btn btn-default navbar-btn">Navbar Button</button>-->
                           <a href="/login" class="page-scroll" id="loginButton" style="color:#071C33 !important">Log In</a>
                           <!--<a href="/login" class="btn custom-button page-scroll navbar-btn" id="login-btn-navbar">Log In</a>-->
                       </li>
                       <li>
                        <a href="/register" class="page-scroll" id="loginButton" style="color:#071C33 !important">Register</a>
                       </li>
                   </ul>
               </div>
           </div>
        </nav>

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 style="white-space:pre; font-size:36px; margin-left:-200px;">
                        This is SAM, how can I help you? 
                        Stylized Appointment Management</h1>
                    <hr>
                    <p style="text-align:left">Customize your business and let SAM take care of the rest. Seamlessly manage appointments, send out reminders, and check-in patrons. </p>
                    <a href="/register" class="btn btn-primary btn-xl page-scroll tryBtn" onclick="tryClick()">Try It Today</a>
                </div>
            </div>
        </header>

        <!-- Overview -->
        <section id="overview" height= 275>
            <div class = "container">

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>OVERVIEW</h1>
                        <hr id="custom_hr">
                    </div>
                </div>

                <div class = "row rowPadding">

                    <div class="col-sm-3 text-center">
                        <h4>Sign Up For An Account</h4>
                        <i class="fa fa-pencil-square-o fa-5x" style="color:#222222"></i>
                        <br><br>
                        <p class="overviewColor align-overview-mobile">
                            Quickly and easily sign up an account with SAM.
                        </p>
                    </div>

                    <div class="col-sm-3 text-center">
                        <h4>Customize Your Own Forms </h4>
                        <i class="fa fa-file-text-o fa-5x" style="color:#222222"></i>
                        <br><br>
                        <p class="overviewColor align-overview-mobile">
                            Start off by generating a personal check in form for your company by simply dragging and dropping boxes and buttons.
                        </p>
                    </div>

                    <div class="col-sm-3 text-center">
                        <h4>Make Appointments </h4>
                        <i class="fa fa-tablet fa-5x" style="color:#222222"></i>
                        <br><br>
                        <p class="overviewColor align-overview-mobile">
                            Your customers make appointments using your customized forms and get notified about their upcoming appointments.
                        </p>
                    </div>

                    <div class="col-sm-3 text-center">
                        <h4>Check-In </h4>
                        <i class="fa fa-users fa-5x" style="color: #222222;"></i>
                        <br><br>
                        <p class="overviewColor align-overview-mobile">
                            Your customers seamlessly check-in for their appointments on services they use on a daily basis.
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <!-- Servies-->
        <section id="services" style="background-color:#092543">
            <div class="container">

                <div class = "row rowPadding">
                    <div class="col-lg-12 text-center">
                        <h1 id="h1Custom">Services</h1>
                        <hr id="custom_hr2">
                    </div>
                </div>

                <div id="testimonial_Carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonial_Carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonial_Carousel" data-slide-to="1"></li>
                        <li data-target="#testimonial_Carousel" data-slide-to="2"></li>
                        <li data-target="#testimonial_Carousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active" style="text-align:center">
                                <h2 style="color:deepskyblue !important;">Appointment Management</h2>
                                <div style="font-size: 20px; height: 275px; color:white; white-space:pre; margin-bottom:-10px;">- Manage your businesses appointments through our web interface 
- Customize your appointment sign up forms  
- View your daily schedule and manually check-in customers
                                </div>
                        </div>

                        <div class="item" style="text-align:center">
                            
                                <h2 style="font: Raleway, sans-serif; color:deepskyblue !important; margin-bottom:-10px;">Reminders</h2>
                                <p style="font-size: 20px; height: 275px; color:white; white-space:pre; position:relative; left:-50px;">
                                - Automatically send out appointment reminders, no more mailers and phone calls!
                                - Patrons receive e-mail reminders when they sign up for appointments
                                - SMS and Facebook support coming soon!
                                </p>
                            
                        </div>

                        <div class="item" style="text-align:center">
                                <h2 style="font: Raleway, sans-serif; color:deepskyblue !important; margin-left: 50px; margin-bottom:-10px;style="text-align:center"">Check In Anytime, Anywhere!</h2>
                                <p style="font-size: 20px; height: 275px; color:white; white-space:pre; margin-left:-80px">
                                - Check-in using our webapp with ease, confidence, and comfort!
                                - Check-in through SMS, Facebook Messenger, or Slack 
                                </p>
                        </div>

                        <div class="item" style="text-align:center">
                                <h2 style="text-align:center; color:deepskyblue !important; margin-bottom:-10px">Virtual Assistant</h2>
                                <p style="font-size: 20px; height: 275px; color:white; white-space:pre; text-align:center; margin-left: -70px">
                                - Patrons can talk to SAM and interact with it like a real receptionist
                                - SAM interprets natural English phrases to make appointments without fussing with format
                                - Check-in, set appointments, and cancel them at your convenience
                            </p>
                        
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#testimonial_Carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#testimonial_Carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </section>

        <section id="integration">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <h1>Integration</h1>
                    <hr id="custom_hr">
                    <ul class="integrations-list clearfix" style="margin-left:100px">
                        <li class="new">
                            <div class="img-holder"><img src="../images/phone.png"></div>
                            <div class="text">
                                <h4 class="name" style="text-align:center">SMS</h4>
                                <div class="content"> We provide a localized phone number just for SAM. Patrons send text messages to SAM and SAM handles the rest. </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder"><img src="../images/slack.png"></div>
                            <div class="text">
                                <h4 class="name" style="text-align:center">Slack</h4>
                                <div class="content"> Patrons add SAM to their Slack channel and message SAM to schedule appointments. Perfect for the business professional! </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder"><a href="https://www.facebook.com/SAM-471914736490919/"><img src="../images/fb.png"></a></div>
                            <div class="text">
                                <h4 class="name" style="text-align:center">Facebook Messenger</h4>
                                <div class="content"> Patrons message SAM at their convenience and SAM responds back to their queries in a personalized experience. SAM can schedule appointments for any business and knows all the right questions to ask.</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </section>

        <section id="pricing">
            <div class="container">
                <div class = "row rowPadding">
                    <div class="col-lg-12 text-center">
                        <h1>Pricing</h1>
                        <hr id="custom_hr">
                        <h3>Pay only for what you use. Change plans at any time.</h3>
                    </div>
                </div>
            </div>

            <div class = "container">

                <div class="col-md-2 col-lg-2">
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="panel price panel-green">
                        <div class="panel-heading arrow_box text-center">
                            <h3>Free</h3>
                        </div>

                        <!--Pricing-->
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:20px">Ideal for getting a taste of the beauty and power of SAM. First month is on us!</p>
                        </div>

                        <!-- Features -->
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">Customize Forms</li>
                            <li class="list-group-item">Limited Employees</li>
                            <li class="list-group-item">Limited Services</li>
                        </ul>

                        <!-- Button (Currently no function) -->
                        <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-success sign2Btn" href="/register">Start Free Trial!</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                            <h3>Ultimate Performance</h3>
                        </div>

                        <!--Cost-->
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:20px">Enhanced performance and scalability for your appointment needs. Price based on business size.</p>
                        </div>

                        <!-- Features -->
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">Customize Forms</li>
                            <li class="list-group-item"> Unlimited Employees</li>
                            <li class="list-group-item">Unlimited Services</li>
                        </ul>

                        <!--Button to purchase (No Function)-->
                        <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-danger buyBtn" href="/register">BUY NOW!</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2">
                </div>
            </div>
        </section>

        <footer class = "text-center">
            <div class ="footer-above" style="background-color:#071C33">
                <div class = "container">
                    <div class = "row">
                        <div class = "footer-col col-md-6" style="color:white">
                            <h3 id="format_Footer_h3">Contact Information</h3>
                            <p>University of California, San Diego
                                <br>
                                9500 Gilman Dr, La Jolla, CA 92093
                                <br>
                                (858)534-2230
                            </p>
                        </div>

                        <div class = "footer-col col-md-6" style="color:white">
                            <h3 id="format_Footer_h3">About SAM</h3>
                            <p>SAM, or Stylized Appointment Management, is the culmination of three years of work to bring you the ultimate assistant. Built by the SexyGeoHatters, a team of seven students from UC San Diego, SAM will revolutionize your customer experience.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12" style="color:#071C33 !important">
                            Copyright &copy; SexyGeoHatters. All Rights Reserved. View our <a href="/privacy" style="color:#071C33 !important">Privacy Policy</a>. 
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div><body onload="homeview()"></body></div>

        <script>
            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 51
            })
        </script>
        <!--{{> googleAnalytics}}-->
    </body>
</html>
